<%= form_for(@sathish) do |f| %>
  <% if @sathish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sathish.errors.count, "error") %> prohibited this sathish from being saved:</h2>

      <ul>
      <% @sathish.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :semester %><br>
    <%= f.number_field :semester %>
  </div>
  <div class="field">
    <%= f.label :marks %><br>
    <%= f.number_field :marks %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
